<html>
    <head>


    </head>
    <body>
    
        <form method="POST">
           <h1 style="margin-left:500px;margin-top:250px"> QUANTITY:-</h1><input type="number" name="quantity" style="width:250px;height:40px;margin-left:500px;margin-top:40px;background-color: aqua;">
           <input type="submit" style="margin-left:20px">
        </form>
    </body>
</html>