 
  <a href="/user/logout"><button style="margin-right:30px">LOGOUT</button></a>
  <a href="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data= <%=user.id %>"><button style="margin-left:500px;margin-top:250px;background:palevioletred;width:250px;height:50px"><H3>INFO QR-CODE</H3></button></a>
 
 