<html>
    <head></head>
    <body>
        <form method="POST">
            <div style="height:200px;width:400px;background-color: beige;margin-left:450px">
            <h1>ENTER THE KEY </h1>
            <input type="text"style="height:60px" name="key"><input type="submit">
            </div>
        </form>
    </body>
</html>